* {
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
  background-color: #aac0aa;
}

.landing {
  height: 100%;
  object-fit: contain;
}

.details {
  width: 100%;
  object-fit: contain;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 1250px) {
  .media-break {
    flex-direction: column;
    gap: 0;
  }

  .card-landing {
    min-width: 100%;
  }

  .details {
    max-width: 100%;
  }
}
